# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/gateway-next-front-end/node_modules
/gateway-next-front-end/.pnp
/gateway-next-front-end.pnp.*
/gateway-next-front-end.yarn/*
/gateway-next-front-end!.yarn/patches
/gateway-next-front-end!.yarn/plugins
/gateway-next-front-end!.yarn/releases
/gateway-next-front-end!.yarn/versions

# testing
/gateway-next-front-end/coverage

# next.js
/gateway-next-front-end/.next/
/gateway-next-front-end/out/

# production
/gateway-next-front-end/build

# misc
/gateway-next-front-end/.DS_Store
/gateway-next-front-end/*.pem

# debug
/gateway-next-front-end/npm-debug.log*
/gateway-next-front-end/yarn-debug.log*
/gateway-next-front-end/yarn-error.log*
/gateway-next-front-end/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/gateway-next-front-end/.env*

# vercel
/gateway-next-front-end/.vercel

# typescript
/gateway-next-front-end/*.tsbuildinfo
/gateway-next-front-end/next-env.d.ts
